:root{
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888; 
}

.button{
    font-size: 2em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active{
    background-color: rgb(110, 126, 126);
}

.button.double{
    grid-column: span 2;
}

.button.tripple{
    grid-column: span 3;
}

.button.operation{
    background-color: rgb(243, 97, 0);
    color: #fff;
}

.button.operation:active{
    background-color: rgb(168, 81, 0) ;
}